﻿<ion-view view-title="Commande #{{ commande.commande.Id }}">
    <ion-content class="bg-blue">
        <div>{{ commande.commande.Praticien.Prenom }} {{ commande.commande.Praticien.Nom }}</div>
        <div>{{ commande.commande.Date }}</div>

        <div class="item item-divider">
            Médicaments de la commande
        </div>

        <ion-list>
            <ion-item ng-repeat="details in commande.commande.Details">
                <h2>{{ details.Medicament.Nom }}</h2>
                <p>{{ details.Medicament.Composition }}</p>
                <p>{{ details.PrixTotal | currency: '€' }}</p>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>