﻿<!-- TODO : Améliorer design écran loading -->
<ion-view view-title="Chargement" hide-nav-bar="true" has-header="false">
    <ion-content class="bg-blue">
        <div class="swiper-lazy-preloader"></div>
    </ion-content>
</ion-view>