﻿<ion-view view-title="Connexion" hide-nav-bar="true" has-header="false">
    <ion-content class="bg-blue">
        <div class="width-100 text-center mb-20">
            <img ng-src="img/gsb.png" alt="GSB Logo" />
        </div>

        <form name="loginForm" ng-submit="login.login()">
            <ion-list>
                <label class="item item-input card">
                    <select ng-model="login.user" ng-options="visiteur as (visiteur.Prenom + ' ' + visiteur.Nom) for visiteur in login.visiteurs"></select>
                </label>

                <label class="item item-input card">
                    <input type="password" placeholder="Mot de passe" ng-model="login.user.Password" required="required" name="password">
                </label>

                <ion-checkbox ng-model="login.remember" style="background-color:transparent; border:none; color: white;">Mémoriser mes identifiants</ion-checkbox>
            </ion-list>

            <div class="padding">
                <button ng-disabled="loginForm.$invalid || login.loading" class="button button-block button-positive" type="submit">
                    <span ng-hide="login.loading">Connexion</span>
                    <ion-spinner ng-show="login.loading" icon="android"></ion-spinner>
                </button>
            </div>

            <div class="text-center">
                <a style="cursor:pointer;" ng-click="login.showRecover()">Mot de passe oublié ?</a>
            </div>
        </form>
    </ion-content>
</ion-view>