﻿<ion-view view-title="{{praticien.praticien.Prenom}} {{praticien.praticien.Nom | uppercase}}">
    <ion-content class="bg-blue">

        <div class="list card">
            <div class="item item-thumbnail-left">
                <img ng-if="praticien.praticien.Photo" ng-src="img/{{ praticien.praticien.Photo }}">
                <img ng-if="!praticien.praticien.Photo" ng-src="img/default.jpg" />
                <h2>{{ praticien.praticien.Prenom }} {{ praticien.praticien.Nom | uppercase }}</h2>
                <p>{{praticien.praticien.CodePostal}} {{praticien.praticien.Ville | uppercase}}</p>
                <p>{{praticien.praticien.Adresse}}</p>
                <p>{{praticien.praticien.Secteur.Region.Nom}} - {{praticien.praticien.Secteur.Nom}}</p>
            </div>

            <div class="item item-icon-left">
                <p>{{praticien.praticien.Telephone}}</p>
                <i class="icon ion-ios-telephone"></i>
            </div>

            <div class="item item-icon-left">
                <p>{{praticien.praticien.Email}}</p>
                <i class="icon ion-ios-email"></i>
            </div>

            <div class="item item-icon-left">
                <p style="margin-top:0;">{{ praticien.praticien.OpinionSyndicale }}</p>
                <i class="icon ion-ios-world"></i>
            </div>

            <div class="item item-icon-left">
                <p ng-if="praticien.praticien.Commandes.length > 0">{{ praticien.praticien.Commandes.length }} commande<span ng-if="praticien.praticien.Commandes.length > 1">s</span> au total.</p>
                <p ng-if="praticien.praticien.Commandes.length > 0">Dernière le {{ praticien.praticien.Commandes[0].Date | date: 'dd/MM/yyyy à hh:mm:ss' }}.</p>

                <p ng-if="praticien.praticien.Commandes.length == 0">Aucune commande enregistrée.</p>

                <i class="icon ion-ios-cart"></i>
            </div>
        </div>

        <div class="padding" style="padding-top:0;">
            <button style="margin-bottom:0;" class="button button-block button-positive" ng-click="praticien.showCommande(praticien.praticien)">Commander</button>
        </div>

    </ion-content>
</ion-view>