﻿<ion-view view-title="{{commandes.praticien.Prenom}} {{commandes.praticien.Nom | uppercase}}">
    <ion-content class="bg-blue">
        <div class="item item-divider">
            Nouvelle commande
        </div>

        <ion-list>
            <ion-item ng-repeat="detail in commandes.commande.Details">
                <div class="row">
                    <h2 class="col col-75">{{ detail.Medicament.Nom }}</h2>
                    <div class="col col-25">{{ detail.Quantite }}</div>
                </div>

                <div class="range">
                    <i class="icon ion-android-remove" ng-click="commandes.updateQuantite(detail, -1)" ng-class="{ 'assertive': detail.Quantite == 1 }"></i>
                    <input type="range" ng-model="detail.Quantite" ng-change="commandes.signaturePad.clear()" min="1" max="100" step="1" />
                    <i class="icon ion-android-add" ng-click="commandes.updateQuantite(detail, +1)"></i>
                </div>
            </ion-item>
        </ion-list>

        <div class="item item-divider" style="background-color: white;">
            <select class="col" ng-model="commandes.selectMedoc" ng-options="medicament as medicament.Nom for medicament in commandes.medicaments | orderBy:'Nom' | filter:commandes.medocsAjoutables" ng-change="commandes.ajouteMedicament()">
                <option selected value="">Sélectionner un médicament</option>
            </select>
        </div>

        <div class="card">
            <canvas id="signatureCanvas" height="130" class="width-100" on-double-tap="commandes.signaturePad.clear()"></canvas>
        </div>

        <div class="row">
            <button class="col button button-block button-balanced" ng-click="commandes.validerCommande()">
                Valider la commande
            </button>
        </div>

    </ion-content>
</ion-view>