﻿<ion-view view-title="Récupération de mot de passe">
    <ion-content class="padding bg-blue">
        <div class="width-100 text-center">
            <img ng-src="img/gsb.png" alt="GSB Logo" />
        </div>

        <div>
            <br />

            <p><strong>{{ recover.user.Prenom }} {{ recover.user.Nom |uppercase }}</strong>,</p>

            <p>En cliquant sur le bouton ci-dessous, un nouveau mot de passe vous sera envoyé à l'adresse e-mail professionnelle GSB associée à votre nom d'utilisateur.</p>

            <br />

            <button ng-disabled="recover.loading" class="button button-block button-positive" ng-click="recover.recover()">
                <span ng-hide="recover.loading">Renvoyer mot de passe</span>
                <ion-spinner ng-show="recover.loading" icon="android"></ion-spinner>
            </button>
        </div>
    </ion-content>
</ion-view>