﻿<ion-view view-title="Accueil">
    <ion-content class="bg-blue">
        <div class="item item-divider">
            Dernières commandes
        </div>

        <ion-list>
            <ion-item ng-repeat="commande in home.commandes.commandes | orderBy: '-Date' | limitTo: 5" class="item-icon-left item-icon-right" type="item-text-wrap">
                <i class="icon ion-card"></i>

                <h2>{{ commande.Praticien.Prenom }} {{ commande.Praticien.Nom | uppercase }}</h2>
                <p>{{ commande.Date }}</p>
                <p>{{ commande.TotalFacture | currency:'€' }}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>