﻿<ion-view view-title="Praticiens">
    <ion-content class="bg-blue">
        <ion-list>
            <div ng-repeat="secteur in praticiens.user.Secteurs">
                <div class="item item-divider">
                    {{ secteur.Region.Nom }} - {{ secteur.Nom }}
                </div>

                <ion-list can-swipe="praticiens.listCanSwipe">
                    <ion-item on-hold="praticiens.showDetails(praticien)" ng-repeat="praticien in praticiens.praticiens | filter: { 'Secteur': {'Id': secteur.Id } }" class="item-icon-right" type="item-text-wrap" href="#/tab/commande/{{praticien.Id}}">
                        <h2>{{praticien.Prenom}} {{praticien.Nom}}</h2>
                        <p>{{praticien.CodePostal}} {{praticien.Ville}}</p>

                        <i class="icon ion-android-cart"><span ng-class="{'badge-assertive': praticien.Commandes.length == 0, 'badge-positive': praticien.Commandes.length > 0}" class="badge icon-badge">{{praticien.Commandes.length}}</span></i>

                        <ion-option-button class="button-balanced button-large" ng-click="praticiens.nouvelleCommande(praticien)"><i class="icon ion-android-cart"></i></ion-option-button>
                        <ion-option-button class="button-royal button-large" ng-click="praticiens.showDetails(praticien)"><i class="icon ion-android-search"></i></ion-option-button>
                    </ion-item>
                </ion-list>
            </div>
        </ion-list>
    </ion-content>
</ion-view>