﻿<ion-view view-title="Mon compte">
    <ion-content class="bg-blue">
        <ion-list>
            <ion-toggle ng-model="account.settings.quantiteAuto" ng-change="account.updateSettings()">
                Quantité automatique
            </ion-toggle>

            <label class="item item-input">
                <div class="input-label">
                    Adresse IP
                </div>
                <select ng-model="account.settings.server" ng-change="account.updateSettings()">
                    <option value="gsb.konradkevin.com" ng-selected="account.settings.server == 'gsb.konradkevin.com'">gsb.konradkevin.com</option>
                    <option value="192.168.10.12" ng-selected="account.settings.server == '192.168.10.12'">192.168.10.12</option>
                </select>
            </label>
        </ion-list>

        <div class="padding">
            <button class="button button-block button-positive" ng-click="account.clearCache()">Supprimer le cache</button>
            <button class="button button-block button-positive" ng-click="account.logout()">Déconnexion</button>
        </div>
    </ion-content>
</ion-view>