﻿<ion-tabs class="tabs-striped tabs-color-dark">

    <!-- Dashboard Tab -->
    <ion-tab icon="ion-home" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab icon="ion-ios-people" href="#/tab/praticiens">
        <ion-nav-view name="tab-praticiens"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab icon="ion-gear-a" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>