﻿select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
    font-size: 100%;
}

.scroll-content {
    background-color: #E9EAED;
}

.item-divider {
    background-color: transparent;
}

.relative {
    position: relative;
}

.align-middle {
    display: table-cell;
    vertical-align: middle;
}

.inline-block {
    display:inline-block;
}

select {
    display: block;
    padding-top: 2px;
    height:34px;
    color: #111;
    vertical-align: middle;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
    background-color: transparent;
    border: 0;
}

.translate {
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.07);
}

.item .icon {
    padding-right: 10px;
}
.item .icon .icon-badge {
    position: absolute;
    top: 9px;
    right: 0px;
    font-size: 9px;
}

.item-divider {
    color: white !important;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.bar-custom {
    background-color: #1C2B54 !important;
    color: white;
}

.bg-blue {
    background-color: lightblue;
    background: url("../img/background-galaxy.jpg") no-repeat center center fixed;
    background-size: cover;
    border: 0;
}

.bg-transparent {
    background-color: transparent;
}

.text-center {
    text-align:center;
}

.width-50 {
    display: block;
    width: 50%;
}

.width-100 {
    display: block;
    width: 100%;
}

.height-100 {
    height: 100%;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.inputError {
    border-color: red;
}

.text-error {
    color: red;
}

.spinner svg {
    position: absolute !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}